@model IEnumerable<WebApplication2.Models.colaborador>

@{
    ViewBag.Title = "Colaboradores";
}
<div class="container-fluid">
    <p class="text-right">
        <a class="btn btn-success" href="@Url.Action("Create", "colaboradors")" style="margin-top: 1em; background-color: #1e7338;"><i class="fa fa-plus"></i>&nbsp;Agregar</a>
    </p>
    <br />
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-data3">
            <thead style="background-color: #1e7338;">
                <tr>
                    <th>
                        R.U.T.
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        A. Paterno
                    </th>
                    <th>
                        A. Materno
                    </th>
                    <th>
                        Edad
                    </th>
                    <th>
                        Cargo
                    </th>
                    <th>
                        Teléfono
                    </th>
                    <th>
                        Valor H. Extra ($)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.rut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellidoPaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellidoMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.edad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cargo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.valorHoraExtra)
                        </td>

                        <td>
                            <div class="table-data-feature">
                                <a class="item" data-toggle="tooltip" data-placement="top" title="Editar" href="@Url.Action("Edit", "colaboradors", new { id = item.run })"><i class="zmdi zmdi-edit"></i></a>
                                <a class="item" data-toggle="tooltip" data-placement="top" title="Eliminar" href="@Url.Action("Delete", "colaboradors", new { id = item.run })"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

