@model IEnumerable<WebApplication2.Models.hojaRutaDetalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaLlegada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hojaRuta.patente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaLlegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hojaRuta.patente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idHojaRutaDetalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.idHojaRutaDetalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idHojaRutaDetalle })
        </td>
    </tr>
}

</table>
