@model WebApplication2.Models.colaborador

@{
    ViewBag.Title = "Agregar colaborador";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-8" style="margin: 0 auto; margin-top: 1em;">
            <div class="card">
                <div class="card-header">Ingreso de colaborador</div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">R.U.N.</label>
                                @Html.EditorFor(model => model.run, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.run, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">R.U.T.</label>
                                @Html.EditorFor(model => model.rut, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.rut, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label mb-1">Nombre</label>
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Apellido Paterno</label>
                                @Html.EditorFor(model => model.apellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.apellidoPaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Apellido Materno</label>
                                @Html.EditorFor(model => model.apellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.apellidoMaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="cc-exp" class="control-label mb-1">Edad</label>
                                @Html.EditorFor(model => model.edad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.edad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Cargo</label>
                                @Html.DropDownListFor(model => model.cargo, new List<SelectListItem> { new SelectListItem { Text = "Chofer", Value = "Chofer" }, new SelectListItem { Text = "Peoneta", Value = "Peoneta" } }, "Por favor, seleccione...", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.cargo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Teléfono</label>
                                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label mb-1">Valor H. Extra</label>
                                @Html.EditorFor(model => model.valorHoraExtra, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.valorHoraExtra, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-lg btn-block" style="background-color: #1e7338; color: white;">
                            <i class="fa fa-save fa-lg"></i>&nbsp;
                            Guardar
                        </button>

                    </div>
                </div>
            </div>
        </div>
    }


    <div class="col-md-12 text-center" style="margin-bottom: 1em;">
        @*@Html.ActionLink("Back to List", "Index")*@
        <a class="btn btn-success text-center" href="@Url.Action("Index", "colaboradors")" style="background-color: #1e7338; margin: 0 auto;"><i class="fa fa-arrow-left"></i>&nbsp;Volver a la lista</a>
    </div>
</div>


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message")
            }

        </script>
    }
}
