@model WebApplication2.Models.ResumenHojaRutaViewModel
@{
    ViewBag.Title = "Index";

    <h2>Index</h2>
    <div class="container">
        <table class="table table-condensed table-bordered table-hover">
            <thead style="background-color: #1e7338; color: white;">
                <tr>
                    @*<th>ID H. Ruta</th>*@
                    <th>N° Guía</th>
                    <th>R.U.T.</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                    <th>Fecha de ingreso</th>
                    <th>Observación</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model.guiasID)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(Model => g.idHojaRuta)
                            </td>*@
                        <td>
                            @Html.DisplayFor(Model => g.numeroGuia)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => g.rut)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => g.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => g.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => g.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => g.ciudad)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => g.fechaIngreso)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => g.observacion)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => g.estado)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <table class="table table-condensed table-bordered table-hover">
            <thead style="background-color: #1e7338; color: white;">
                <tr>
                    @*<th>ID H. Ruta</th>
                        <th>R.U.N.</th>*@
                    <th>R.U.T.</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ch in Model.colaboradorHojaRutaID)
                {
                    <tr>
                        @*<td>
                                @Html.DisplayFor(Model => ch.idHojaRuta)
                            </td>
                            <td>
                                @Html.DisplayFor(Model => ch.run)
                            </td>*@
                        <td>
                            @Html.DisplayFor(Model => ch.colaborador.rut)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => ch.colaborador.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => ch.colaborador.apellidoPaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(Model => ch.colaborador.cargo)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
