@model WebApplication2.Models.guias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>guias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hojaRuta.patente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hojaRuta.patente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numeroGuia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
