@model WebApplication2.Models.colaboradorHojaRuta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>colaboradorHojaRuta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.colaborador.rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colaborador.rut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hojaRuta.patente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hojaRuta.patente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idColHojaRuta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
