@model WebApplication2.Models.costosHojaRuta

@{
    ViewBag.Title = "Agregar costos";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">
            <h4>costosHojaRuta</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.concepto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.concepto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.concepto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.numDocumento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.numDocumento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.numDocumento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.proveedor, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.proveedor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.proveedor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.monto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@
    <div class="col-md-8" style="margin: 0 auto; margin-top: 1em;">
        <div class="card">
            <div class="card-header">Ingreso de costos</div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label mb-1">Concepto</label>
                    @Html.EditorFor(model => model.concepto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.concepto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="control-label mb-1">Proveedor</label>
                    @Html.EditorFor(model => model.proveedor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.proveedor, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label mb-1">N° Documento</label>
                            @Html.EditorFor(model => model.numDocumento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.numDocumento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label mb-1">Monto</label>
                            @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg btn-block" style="background-color: #1e7338; color: white;">
                        <i class="fa fa-save fa-lg"></i>&nbsp;
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
}

    <div class="col-md-12 text-center" style="margin-bottom: 1em;">
        @*@Html.ActionLink("Back to List", "Index")*@
        <a class="btn btn-success text-center" href="@Url.Action("Index", "costosHojaRutas")" style="background-color: #1e7338; margin: 0 auto;"><i class="fa fa-arrow-left"></i>&nbsp;Volver a la lista</a>
    </div>
