@model IEnumerable<WebApplication2.Models.hojaRuta>

@{
    ViewBag.Title = "Index";
}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" media="all">

<style type="text/css">

    .pagination > li.active > a, .pagination > li.active > span {
        background-color: #1e7338 !important;
        border-color: #1e7338 !important; 
    }

</style>

<div class="container-fluid">
    <h3 style="margin-top: 1em;">Hojas de ruta</h3>

    <a class="btn btn-success" href="@Url.Action("Create", "hojaRutas")" style="margin: 1em 0 1em 0; background-color: #1e7338;"><i class="fa fa-plus"></i>&nbsp;Crear hoja</a>
    <div class="table-responsive m-b-30">
        <table id="tabHojaRuta" class="table table-borderless table-data3" style="margin-top: 1em;">
            <thead style="background-color: #1e7338;">
                <tr>
                    <th>N° Hoja de Ruta</th>
                    <th>Patente Vehiculo</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Modificacion</th>
                    <th>BOTON</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idHojaRuta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.patente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaCreacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaModificacion)
                        </td>
                        <td>
                            <a class="btn btn-success" data-toggle="dropdown" href="#" style="background-color: #1e7338;"><i class="fa fa-bars"></i>&nbsp;MENU</a>
                            <ul class="dropdown-menu" role="menu">
                                @*<li>@Html.ActionLink("Agregar", "AddDatos", new { id = item.idHojaRuta })</li>
                                    <li>@Html.ActionLink("Modificar Hoja de Ruta", "Edit", new { id = item.idHojaRuta })</li>
                                    <li>@Html.ActionLink("Info", "Index", "infoHojaRuta", new { id = item.idHojaRuta }, null)</li>*@
                                <a class="dropdown-item" href="@Url.Action("AddDatos", "hojaRutas", new { id = item.idHojaRuta }, null)"><i class="fa fa-plus-circle"></i>&nbsp;Agregar</a>
                                <a class="dropdown-item" href="@Url.Action("Edit", "hojaRutas", new { id = item.idHojaRuta }, null)"><i class="fa fa-edit"></i>&nbsp;Modificar</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "infoHojaRuta",  new { id = item.idHojaRuta }, null)"><i class="fa fa-info-circle"></i>&nbsp;Resumen</a>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>

    @section Scripts{
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#tabHojaRuta').DataTable({
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    }
                });
            });
        </script>
    }
