@model IEnumerable<WebApplication2.Models.vehiculo>

@{
    ViewBag.Title = "Index";


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new {@class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.velocidadPromedio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rendimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacidadCarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.velocidadPromedio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rendimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacidadCarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.patente }) |
            @Html.ActionLink("Details", "Details", new { id = item.patente }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.patente }, new {@class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
    }