@model IEnumerable<WebApplication2.Models.vehiculo>

@{
    ViewBag.Title = "Vehículos";
}

<style type="text/css">
    .pagination > li.active > a, .pagination > li.active > span {
        background-color: #1e7338 !important;
        border-color: #1e7338 !important;
    }
</style>

@*<br />

    <p>
        <a class="btn btn-success" href="@Url.Action("Create", "vehiculoes")" style="margin-top: 1em;"><i class="fa fa-plus"></i>&nbsp;Añadir Vehiculo</a>


    </p>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.patente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.velocidadPromedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rendimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacidadCarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.patente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.velocidadPromedio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rendimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.capacidadCarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>

                    <a class="btn btn-warning" href="@Url.Action("Edit", "vehiculoes", new { id = item.patente })" style="margin-top: 1em;"><i class="fa fa-edit"></i>&nbsp;Editar</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "vehiculoes", new { id = item.patente })" style="margin-top: 1em;"><i class="fa fa-trash"></i>&nbsp;Eliminar</a>
                </td>
            </tr>
        }

    </table>*@
<div class="container-fluid">
    <p class="text-right">
        <a class="btn btn-success" href="@Url.Action("Create", "vehiculoes")" style="margin-top: 1em; background-color: #1e7338;"><i class="fa fa-plus"></i>&nbsp;Agregar</a>
    </p>
    <br />
    <div class="table-responsive">
        <table id="tabVehiculos" class="table table-borderless table-data3">
            <thead style="background-color: #1e7338;">
                <tr>
                    <th>
                        Patente
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Velocidad
                    </th>
                    <th>
                        Rendimiento
                    </th>
                    <th>
                        Capacidad
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.patente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.velocidadPromedio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rendimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.capacidadCarga)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>

                        <td>
                            <div class="table-data-feature">
                                <a class="item" data-toggle="tooltip" data-placement="top" title="Editar" href="@Url.Action("Edit", "vehiculoes", new { id = item.patente })"><i class="zmdi zmdi-edit"></i></a>
                                <a class="item" data-toggle="tooltip" data-placement="top" title="Eliminar" href="@Url.Action("Delete", "vehiculoes", new { id = item.patente })"><i class="zmdi zmdi-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabVehiculos').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });
        });
    </script>
}